# This configuration is intended for development purpose, it's **your** responsibility to harden it for production
name: ipagateway
services:
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '8085:80'
    networks:
      - shared_network
